footer {height: 60px; 
    text-align: center;
    display: inline;
    padding: 15px;
    font-weight: bold;
    margin-bottom: 10px;
    text-align: center;
}

$footer {display:grid;
    grid-template-columns: 2fr;
    background-color: unset;
text-align: center;}

.cuenta {font-family:'Poppins', sans-serif;
color:brown;
font-size: medium}


.formulario {margin:20px;}

html {font-size: 62%;
    height: 100%;
    margin: 40px;
    background-color: antiquewhite;
    }
    